@using Lazybones.Models
@using Microsoft.AspNet.Identity
@model Lazybones.Models.Job


@{
    ViewBag.Title = "Edit";
}

<h4>Edit Gig</h4>
<hr/>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        
        @Html.DisplayFor(model => model.ID)
        
        <table width="550px">
            <tr>
                <th>
                    Title:
                </th>
                <td>
                    @Html.EditorFor(model => model.Title, new {htmlAttributes = new {@class = "form-control", value = "title"}})
                </td>
            </tr>
            <tr>
                <th>
                    Description:
                </th>
                <td>
                    @Html.EditorFor(model => model.Description, new {htmlAttributes = new {@class = "form-control"}})
                </td>
            </tr>
            <tr>
                <th>
                    Starts:
                </th>
                <td>
                    @Html.EditorFor(model => model.Start_Time_Date, new {htmlAttributes = new {@class = "form-control"}})
                </td>
            </tr>
            <tr>
                <th>
                    Category:
                </th>
                <td>
                    @Html.EditorFor(model => model.Category, new {htmlAttributes = new {@class = "form-control"}})
                </td>
            </tr>
            <tr>
                <th>
                    Flat Rate Pay:
                </th>
                <td>
                    @Html.EditorFor(model => model.Pay, new {htmlAttributes = new {@class = "form-control"}})
                </td>
            </tr>
            <tr>
                <th>
                    Expires:
                </th>
                <td>
                    @Html.EditorFor(model => model.Expirey_Time_Date, new {htmlAttributes = new {@class = "form-control"}})
                </td>
            </tr>
            <tr>
                <th>
                    Status:
                </th>
                <td>
                    @Html.DisplayFor(model => model.Status)
                </td>
            </tr>
            <tr>
                <th>
                    Date Completed or Expired:
                </th>
                <td>
                    @Html.EditorFor(model => model.Date_Completed, new {htmlAttributes = new {@class = "form-control"}})
                </td>
            </tr>
            <tr>
                <th>
                    Payment Complete?
                </th>
                <td>                    
                    @Html.EditorFor(model => model.Payment_Complete, new {htmlAttributes = new {@class = "form-control"}}) &nbsp;
                </td>               
                    @if (Model.Payment_Complete == false)
                    {
                        <a href="https://venmo.com/?txn=pay&audience=private&recipients=@(Model.Getter)&amount=@(Model.Pay)&note=@(Model.Title)" target="_blank" class="btn" style="font-size: large; float: right;"><img src="http://i.imgur.com/4WjiVhY.png" /> Send Payment with Venmo</a>
                    }               
            </tr>
            <tr>
                <th>Address:</th>
                <td>
                    @Html.EditorFor(model => model.Address, new {htmlAttributes = new {@class = "form-control"}})
                </td>

            </tr>
            <tr>
                <th>
                    City:
                </th>
                <td>
                    @Html.EditorFor(model => model.City, new {htmlAttributes = new {@class = "form-control"}})
                </td>
            </tr>
            <tr>
                <th>
                    State:
                </th>
                <td>
                    @Html.EditorFor(model => model.State, new {htmlAttributes = new {@class = "form-control"}})
                </td>
            </tr>
            <tr>
                <th>Zip Code:</th>
                <td>
                    @Html.EditorFor(model => model.Zip, new {htmlAttributes = new {@class = "form-control"}})
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td></td>
                <td>
                    Call
                </td>
                <td>
                    Text
                </td>
                <td>
                    Email
                </td>
            </tr>
            <tr>
                <th>
                    Contact Poster Via:
                </th>
                <td>
                    @Html.EditorFor(model => model.Contact_By_Phone)
                </td>
                <td>
                    @Html.EditorFor(model => model.Contact_By_Text)
                </td>
                <td>
                    @Html.EditorFor(model => model.Contact_By_Email)
                </td>
            </tr>
        </table>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default"/>
            </div>
        </div>
    </div>
    <a href="Delete?ID=@Model.ID" class="btn btn-info" role="button" style="float: right;">Delete</a>
    <br/>
    <div style="font-size: larger;">
        @Html.ActionLink("Back to List", "Search")
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
