@using Lazybones.Models
@using Microsoft.AspNet.Identity
@model Lazybones.Models.Job


@{
    ViewBag.Title = "Edit";
}

<h4>Edit Gig</h4>
<hr/>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <table width="550px">
                <tr>
                    <th>
                        Title:
                    </th>
                    <td>
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", value = "title" } })
                    </td>
                </tr>
                <tr>
                    <th>
                        Description:
                    </th>
                    <td>
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                    </td>
                </tr>
                <tr>
                    <th>
                        Starts:
                    </th>
                    <td>
                        @Html.EditorFor(model => model.Start_Time_Date, new { htmlAttributes = new { @class = "form-control" } })
                    </td>
                </tr>
                <tr>
                    <th>
                        Category:
                    </th>
                    <td>
                        @Html.EditorFor(model => model.Category, new { htmlAttributes = new { @class = "form-control" } })
                    </td>
                </tr>
                <tr>
                    <th>
                        Flat Rate Pay:
                    </th>
                    <td>
                        $ @Html.EditorFor(model => model.Pay, new { htmlAttributes = new { @class = "form-control" } })
                    </td>
                </tr>
                <tr>
                    <th>
                        Expires:
                    </th>
                    <td>
                        @Html.EditorFor(model => model.Expirey_Time_Date, new { htmlAttributes = new { @class = "form-control" } })
                    </td>
                </tr>
                <tr>
                    <th>
                        Status:
                    </th>
                    <td>
                         <form>
                    @Html.RadioButtonFor(m => m.Status, "Created", new {htmlAttributes = new {@class = "form-control", @checked = true}}) &nbsp; Created<br/>
                    @Html.RadioButtonFor(m => m.Status, "Assigned", new {htmlAttributes = new {@class = "form-control"}}) &nbsp; Assigned<br/>
                    @Html.RadioButtonFor(m => m.Status, "In Progress", new {htmlAttributes = new {@class = "form-control"}}) &nbsp; In Progress<br/>
                    @Html.RadioButtonFor(m => m.Status, "Complete", new {htmlAttributes = new {@class = "form-control"}}) &nbsp; Complete<br/>
                    @Html.RadioButtonFor(m => m.Status, "Cancelled", new {htmlAttributes = new {@class = "form-control"}}) &nbsp; Cancelled<br/>
                    @Html.RadioButtonFor(m => m.Status, "Expired", new {htmlAttributes = new {@class = "form-control"}}) &nbsp; Expired<br/>
                </form> 
                    </td>
                </tr>
                <tr>
                    <th>
                        Date Completed or Expired:
                    </th>
                    <td>
                        @Html.EditorFor(model => model.Date_Completed, new { htmlAttributes = new { @class = "form-control" } })
                    </td>
                </tr>
                <tr>
                    <th>
                        Payment Complete?
                    </th>
                    <td>
                        @Html.EditorFor(model => model.Payment_Complete, new { htmlAttributes = new { @class = "form-control" } })
                    </td>
                </tr>
                <tr>
                    <th>Gig Location</th>
                    <td></td>
                </tr>
                <tr>
                    <th>Address:</th>
                    <td>
                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                    </td>

                </tr>
                <tr>
                    <th>
                        Gig City:
                    </th>
                    <td>
                        @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                    </td>
                </tr>
                <tr>
                    <th>
                        Gig State:
                    </th>
                    <td>
                        @Html.EditorFor(model => model.State, new { htmlAttributes = new { @class = "form-control" } })
                    </td>
                </tr>
                <tr>
                    <th>Gig Zip Code:</th>
                    <td>
                        @Html.EditorFor(model => model.Zip, new { htmlAttributes = new { @class = "form-control" } })
                    </td>
                </tr>
            </table>
            <table>
                <tr>
                    <td></td>
                    <td>
                        Call
                    </td>
                    <td>
                        Text
                    </td>
                    <td>
                        Email
                    </td>
                </tr>
                <tr>
                    <th>
                        Contact Poster Via:
                    </th>
                    <td>
                        @Html.EditorFor(model => model.Contact_By_Phone)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.Contact_By_Text)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.Contact_By_Email)
                    </td>
                </tr>
            </table>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default"/>
                </div>
            </div>
        </div>
    if (Model.Payment_Complete == false && Model.Poster == User.Identity.GetUserName())
    {
        <br/>
        <a href="https://venmo.com/?txn=pay&audience=private&recipients=@(Model.Getter)&amount=@(Model.Pay)&note=@(Model.Title)" target="_blank" class="btn" style="font-size: large; float: right;"><img src="http://i.imgur.com/4WjiVhY.png"/> Send Payment with Venmo</a>
    }
    <br/>
    <div style="font-size: larger;">
        @Html.ActionLink("Back to List", "Search")
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
