@model IEnumerable<Lazybones.Models.Job>

@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


<table class="table">
    <tr>
        <th>
            Job Title
        </th>
        <th>
            Category
        </th>
        <th>
            Last Day
        </th>
        <th>
            City
        </th>
        <th>
            Pay
        </th>
    </tr>
    
            @foreach (var item in Model)
            {
<tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Expirey_Time_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pay)
        </td>       
    <td>
        <a href="Details?id=@item.ID.ToString()"> Details</a>
    </td>
    </tr>
}

</table>

<script type='text/javascript' src='https://us-east-1.online.tableau.com/javascripts/api/viz_v1.js'>

</script>
<div class='tableauPlaceholder' style='width: 100%; height: 655px; padding-top: 50px;'>
    <object class='tableauViz' width='100%' height='655' style='display: none;'>
        <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
        <param name='site_root' value='' />
        <param name='name' value='TaskJeevesSearch&#47;Sheet2' />
        <param name='tabs' value='no' />
        <param name='toolbar' value='no' />
    </object>
</div>
