@model Lazybones.Models.AspNetUser

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Account Profile</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            First Name
            <div class="col-md-10">
                @Html.EditorFor(model => model.First_Name, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            Last Name
            <div class="col-md-10">
                @Html.EditorFor(model => model.Last_Name, new { htmlAttributes = new { @class = "form-control" } })
            </div>

        <div class="form-group">
            Street Address
            <div class="col-md-10">
                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            City
            <div class="col-md-10">
                @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            State
            <div class="col-md-10">
                @Html.EditorFor(model => model.State, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            Zip Code
            <div class="col-md-10">
                @Html.EditorFor(model => model.Zip, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            Mobile Phone Number
            <div class="col-md-10">
                @Html.EditorFor(model => model.Mobile_Phone, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            Preferred Contact Method (Call, Text, Email)
            <div class="col-md-10">
                @Html.EditorFor(model => model.Preferred_Contact_Method, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <h3>I am a:</h3>
        <div class="form-group">
            Gig Poster
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Gig_Poster)
                </div>
            </div>
        </div>

        <div class="form-group">
            Go-Getter
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Go_Getter)
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

