@model Lazybones.Models.RegisterViewModel

@{
    ViewBag.Title = "Register";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Create a new account.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="container-fluid, form-horizontal">
        <!-- email & pass -->
        <div class="col-md-5">
            <div class="row">
                Email <br />
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
            <div class="row">
                Password <br />
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
            <div class="row">
                Confirm Password <br />
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
            Preferred Contact Method <br />
            @Html.EditorFor(m => m.Preferred_Contact_Method, new { @class = "form-control" })
            <br/>
            <hr />
            <br/>
            <strong>I am a</strong> <br />
            Gig Poster &nbsp;
            <div class="checkbox-inline" style="padding-right: 5px;">
                @Html.EditorFor(m => m.Gig_Poster)
            </div> <br />
            Go-Getter &nbsp;
            <div class="checkbox-inline">
                @Html.EditorFor(m => m.Go_Getter)
            </div>
        </div>
        <div class="col-md-1"></div>
            <div class="col-md-5">
                <div class="row">
                    First Name <br />
                    @Html.EditorFor(m => m.First_Name, new { @class = "form-control" })
                </div>
                <div class="row">
                    Last Name <br />
                    @Html.EditorFor(m => m.Last_Name, new {@class = "form-control" })
                </div>
                <div class="row">
                    Home Address
                    <br />
                    @Html.EditorFor(m => m.Address, new { @class = "form-control" })
                </div>
                <div class="row">
                    City <br />
                    @Html.EditorFor(m => m.City, new { @class = "form-control" })
                </div>
                <div class="row">
                    State <br />
                    @Html.EditorFor(m => m.State, new { @class = "form-control" })
                </div>
                <div class="row">
                    Zip Code <br />
                    @Html.EditorFor(m => m.Zip, new { @class = "form-control" })
                </div>
                <div class="row">
                    Mobile Phone <br />
                    @Html.EditorFor(m => m.Mobile_Phone, new { @class = "form-control" })
                </div>
            </div>        
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    </div>

}

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
